<!-- wp:template-part {"slug":"header"} /-->

<header class="entete">
    <img src="assets/images/hero.jpg" alt="">
    <h1 class="entete__titre">
        <span class="entete__titre-main">Explorez</span>
        <span class="entete__titre-sub"> le monde à votre façon</span>
    </h1>
</header>

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="contenu">
	<section class="contenu__liens full-bleed">
		<h2 class="contenu__titre">À la une</h2>
		<p class="contenu__textes">Nos dernières idées de voyages sur-mesure 100 % personnalisables</p>
		<ul>
			<li><h3><a href="#">Italie</a></h3></li>
			<li><h3><a href="#">Japon</a></h3></li>
			<li><h3><a href="#">Brésil</a></h3></li>
			<li><h3><a href="#">Canada </a></h3></li>
		</ul>
	</section>

	<article class="banner full-bleed">
		
		<h2>L’esprit du club de voyage</h2>
		<p>Voyager librement, selon vos envies, vos idées et vos passions.</p>
		<a href="#">Rejoignez-nous</a>
	</article>

	<section class="cartes full-bleed">
		<h2>Destinations à contre-courant</h2>
		<p>L’anti-tendance</p>
		<div class="grille">
			<article class="carte">
				<header>
					<img src="assets/images/islande-skaftafell.jpg" alt="Paysage glaciaire à Skaftafell, Islande">

					<h3>Skaftafell, Islande</h3>
				</header>
				<p>Explorez des glaciers majestueux et des cascades spectaculaires dans ce parc naturel isolé d'Islande.</p>
				<a href="#">Découvrir</a>
			</article>

			<article class="carte">
				<header>
					<img src="assets/images/oman-wadi.jpg" alt="Vue panoramique d'un wadi en Oman">
					<h3>Wadi Bani Khalid, Oman</h3>
				</header>
				<p>Plongez dans des piscines naturelles turquoise entourées par un paysage désertique saisissant.</p>
				<a href="#">Explorer</a>
			</article>

			<article class="carte">
				<header>
					<img src="assets/images/guatemala-semir.jpg" alt="Eaux turquoise de Semuc Champey, Guatemala">
					<h3>Semuc Champey, Guatemala</h3>
				</header>
				<p>Découvrez des bassins turquoise cachés dans la jungle, un véritable trésor naturel du Guatemala.</p>
				<a href="#">Explorer</a>
			</article>

			<article class="carte">
				<header>
					<img src="assets/images/norvege-lofoten.jpg" alt="Paysage côtier des îles Lofoten, Norvège">
					<h3>Îles Lofoten, Norvège</h3>
				</header>
				<p>Admirez des plages sauvages, des montagnes spectaculaires et des villages de pêcheurs pittoresques.</p>
				<a href="#">Explorer</a>
			</article>
		</div>
	</section>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
<footer class="pied-de-page full-bleed">
	<nav>
		<h2>Information additionnelle</h2>
		<ul>
			<li><a href="#about">À propos</a></li>
			<li><a href="#destinations">Destinations</a></li>
			<li><a href="#services">Nos services</a></li>
			<li><a href="#avis">Avis clients</a></li>
			<li><a href="#faq">FAQ</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#blog">Blog</a></li>
		</ul>
	</nav>      
</footer>
